.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

#homeicon .fa {
  font-size: 50px; }

#getstarted {
  position: relative;
  background: url("../img/bg1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 300px; }
  #getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-vedio {
  position: relative;
  background: url("../img/people.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 300px; }
  #home-vedio .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #home-vedio .dark-overlay .fa {
      font-size: 50px; }

#gallery img {
  min-height: 250px; }

#copyright {
  background: #000; }

#page-header {
  background: url("../img/image1.jpeg");
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

#about-info img {
  width: 350px;
  height: 350px; }

#icon-boxes .fa {
  font-size: 50px; }

#testimonial .slick-prev:before,
#testimonial .slick-next:before {
  color: #000; }

#service-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

#blog-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

#contact-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  height: 200px;
  background-attachment: fixed; }

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0 !important; }
  #getstarted {
    min-height: 350px; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #getstarted {
    min-height: 400px; } }
